/* styles.css */

.App {
  font-family: Arial, sans-serif;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-image {
  max-width: 100px;
  margin-right: 10px;
}

footer {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* QRCodePage */

.QRCodePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta la altura según sea necesario */
}

.centered-content {
  text-align: center;
}
/* SelectPDF.css */

.upload-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mover el contenedor hacia la izquierda */
  height: 100vh; /* Opcional: esto centra el contenedor verticalmente en la ventana del navegador */
}

.upload-container input[type="file"] {
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* PDFPage.css */
.PDFContainer {
  width: 80%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.PDFPage {
  text-align: center;
}

.PDFPage .react-pdf__Page {
  display: block;
  margin: 30px auto; /* Ajusta el margen según sea necesario */
  max-width: 10%; /* Evita que las páginas cambien de tamaño al hacer zoom */
}
