/* Estilos base que se aplican a todos los tamaños de pantalla */
/* ----------------------------------------------- */
/* Configuración de la aplicación */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: Arial, sans-serif; /* Fuente predeterminada para la aplicación */
  box-sizing: border-box; /* Utilizar el modelo de caja de borde para calcular el tamaño total */
  height: 100%;
}

/* Estilos para el encabezado */
header {
  background-color: #3498db; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
  padding: 0.2vh 1%; /* Reducimos el espaciado interno del header */
  text-align: center; /* Alineación del texto en el centro */
}

/* Estilos para el menú básico */
.basic-menu button {
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  background-color: #d63031;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.basic-menu {
  background-color: #3498db; /* Ajusta esto al color del header */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

.basic-menu button:hover {
  background-color: #922b3e; /* Cambia el color al pasar el cursor sobre el botón */
}

/* Estilos para el contenido del encabezado */
.header-content {
  display: flex; /* Mostrar como flexbox */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: space-between; /* Distribución del espacio entre los elementos */
  align-items: center; /* Alineación vertical al centro */
  padding: 2% 1%; /* Espaciado interno del contenido del encabezado */
}

/* Estilos para el menú derecho del encabezado */
.right-header {
  background-color: #f0f0f0; /* Color de fondo del menú derecho */
  margin: 0 2.5%; /* Margen izquierdo y derecho */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: transform 0.3s ease; /* Transición suave */
}

.right-header .BasicMenu {
  margin-top: 2%; /* Margen superior para el menú básico */
  font-size: 1em; /* Tamaño de fuente relativo */
}

/* Estilos para el pie de página */
footer {
  background-color: #2ecc71; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto del pie de página */
  padding: 1vh; /* Espaciado interno del footer (1% del alto de la pantalla) */
  text-align: center; /* Alineación del texto en el centro */
  position: fixed; /* Fijar en la parte inferior de la ventana */
  bottom: 0; /* Alinear en la parte inferior */
  width: 100%; /* Ancho completo */
  max-height: 25vh; /* Altura máxima del footer (25% del alto de la pantalla) */
  overflow: hidden; /* Ocultar contenido que supere la altura máxima */
}

/* Estilos para el contenedor de carga de archivos */

/* Estilos para el campo de carga de archivos */
.upload-container input[type="file"] {
  margin-bottom: 2%; /* Margen inferior */
}

/* Estilos para mensajes de éxito */
.success-message {
  color: green; /* Color de texto verde */
  margin-top: 2%; /* Margen superior */
}

/* Estilos para mensajes de error */
.error-message {
  color: red; /* Color de texto rojo */
  margin-top: 2%; /* Margen superior */
}

/* Estilos para el contenedor de PDF */
/* Estilos para el contenedor de la página PDF */
/* Estilos para el contenedor de la página PDF */

/* Estilos para el contenedor interno de la página PDF */
.PDFContainer {
  text-align: center; /* Alineación del texto en el centro */
  height: 100vh; /* Altura del 100% del viewport */
}

.PDFPage {
  display: inline-block; /* Mostrar como bloque en línea */
  vertical-align: middle; /* Alinear verticalmente al centro */
}



/* Estilos para el contenedor principal */
.centered-content {
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Altura del 100% de la ventana */
}

/* Estilos para botones grandes */
.bigButton {
  font-size: 1.5em; /* Tamaño de fuente relativo */
  padding: 2% 4%; /* Espaciado interno relativo */
  background-color: #007bff; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 8px; /* Borde redondeado */
  margin: 0 2%; /* Margen relativo */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transform-origin: center bottom; /* Origen de la transformación */
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transiciones suaves */
}

.bigButton:nth-child(1) {
  transform-origin: right bottom; /* Origen de la transformación para el primer botón */
}

.bigButton:nth-child(2) {
  transform-origin: left bottom; /* Origen de la transformación para el segundo botón */
}

.bigButton:hover {
  transform: translateY(-2%) rotateX(20deg); /* Transformación al pasar el ratón */
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.bigButton:active {
  transform: translateY(0) rotateX(0); /* Transformación al hacer clic */
  box-shadow: none; /* Sin sombra */
}

/* Estilos específicos para tamaños de pantalla más pequeños */
/* ----------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* Reduciendo el padding para pantallas más pequeñas */
  .header-content {
    padding: 1%;
  }
  
  /* Reduciendo el padding para pantallas más pequeñas */
  .header-image {
    padding: 2%;
  }
  
  /* Reduciendo el margen para pantallas más pequeñas */
  .right-header {
    margin: 0 1%;
  }
}

/* Estilos para tamaños de pantalla pequeños */
@media only screen and (max-width: 480px) {
  /* Ajustes para el header */
  header {
    padding: 10px;
  }
  
  .header-image {
    width: 100%;
  }
  
  .header-content {
    flex-direction: column;
    align-items: center;
  }
  
  .right-header {
    margin-top: 10px;
  }
  
  .basic-menu button {
    padding: 5px 10px;
  }
}

/* Estilos para tamaños de pantalla muy pequeños */
@media only screen and (max-width: 300px) {
  /* Ajustes adicionales para el header */
  header {
    padding: 3px;
  }

  .header-content {
    padding: 3px;
  }

  .right-header {
    margin-top: 5px;
  }

  .basic-menu button {
    padding: 3px 6px;
  }
}

/* Estilos para el formulario de inicio de sesión */
/* ----------------------------------------------- */
/* Centrado del formulario */
.login-container {
  position: relative; /* Posición relativa */
  max-width: 100%; /* Ancho máximo */
  padding: 3%; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 18px; /* Borde redondeado */
  background-color: #f9f9f9; /* Color de fondo */
  margin: auto; /* Centrado horizontal */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.login-container h2 {
  text-align: center; /* Alineación del texto en el centro */
  margin-bottom: 10%; /* Margen inferior */
}

.login-container form {
  display: flex; /* Mostrar como flexbox */
  flex-direction: column; /* Dirección de los elementos en columna */
}

.login-container label {
  margin-bottom: 400%; /* Margen inferior */
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  outline: none !important; /* Elimina el contorno al enfocar */
  border-width: 0 !important; /* Establece el ancho del borde en cero al enfocar */
  box-shadow: none !important; /* Elimina cualquier sombra al enfocar */
}

.login-container button[type="submit"] {
  padding: 1% 1%; /* Espaciado interno */
  border-radius: 400px; /* Borde redondeado */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  margin-top: 1%; /* Margen superior */
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.login-container .error-message {
  color: red; /* Color de texto rojo */
  margin-top: 1%; /* Margen superior */
  text-align: center; /* Alineación del texto en el centro */
}

/* Estilos para el contenedor de los controles de tema y tamaño de fuente */
.login-controls-container {
  display: flex; /* Mostrar como flexbox */
  justify-content: flex-end; /* Alinear los elementos hacia la derecha */
  align-items: center; /* Alinear los elementos verticalmente al centro */
  margin-bottom: 20px; /* Añadir espacio inferior */
}

/* Estilos para el cuadro de control */
.control-box {
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  padding: 5px; /* Espaciado interno */
  margin-left: 10px; /* Añadir margen izquierdo */
  border: 1px solid #d828b8; /* Borde sólido */
  border-radius: 10px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  text-align: center; /* Alineación del texto en el centro */
  background-color: #0056b3; /* Nuevo color de fondo */
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Estilos para los botones de los controles */
.control-box button {
  width: 100%; /* Ancho del botón */
  height: 100%; /* Altura del botón */
  padding: 0; /* Sin padding */
  border: none; /* Sin borde */
  border-radius: 10px; /* Borde redondeado */
  background-color: #0056b3; /* Nuevo color de fondo */
  color: #fff; /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.control-box button:hover {
  background-color: #004080; /* Color de fondo al pasar el ratón */
}

/* Estilos para el tema oscuro */
.dark-theme {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color de texto claro */
}

/* Estilos específicos para el formulario de inicio de sesión en el tema oscuro */
.dark-theme .login-container {
  background-color: #444; /* Color de fondo oscuro para el contenedor de inicio de sesión */
  border-color: #666; /* Color de borde oscuro */
}

/* Estilos SelectPDF */

/* Estilos para el contenedor de carga de archivos */

.upload-container input[type="file"] {
  margin-bottom: 100px; /* Margen inferior para el campo de carga de archivos */
}

.upload-container button {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.upload-container button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}


input {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos React-PDF */

.PDFContainer {
  text-align: center;
}

.PageNumber {
  margin-top: 20px;
}

/* Estilos específicos para la página de código QR */
.QRCodePage {
  display: flex;
  justify-content: center; /* Ajustamos el centrado horizontal */
  align-items: center;
  height: 20vh;
  flex-direction: column;
}


.download-button-container {
  margin: 0px 0;
}


.qr-container {
  width: auto; /* Ancho automático */
  margin: 0 auto; /* Centrar horizontalmente */

}






/* Estilos para el menú básico */
.BasicMenu {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

.BasicMenu li {
  margin-bottom: 0px; /* Margen inferior */
}

.BasicMenu a {
  text-decoration: none; /* Sin subrayado */
  color: inherit; /* Color heredado */
}

/* Estilos para la página de administrador */
.admin-container {
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.admin-buttons {
  display: flex; /* Mostrar como flexbox */
  justify-content: space-around; /* Distribución uniforme */
  margin-bottom: 0px; /* Margen inferior */
}

/* Estilos para los botones de administrador */
.admin-buttons button {
  padding: 00px 0px; /* Espaciado interno */
  font-size: 1.5em; /* Tamaño de fuente */
}

/* Estilos para los botones de administrador en dispositivos pequeños */
@media (max-width: 600px) {
  .admin-buttons {
    flex-direction: column; /* Cambiar a una columna */
    align-items: center; /* Alinear al centro */
  }

  .admin-buttons button {
    margin-bottom: 10px; /* Margen inferior */
  }
}

/* Estilos para el área de vista previa */
.preview-area {
  text-align: center; /* Alineación del texto en el centro */
}

/* Estilos para el área de vista previa en dispositivos pequeños */
@media (max-width: 600px) {
  .preview-area img {
    max-width: 100%; /* Ancho máximo del 100% */
  }
}

/* Estilos para el contenedor del logo y los botones */
.logo-controls-container {
  display: flex;
  align-items: center; /* Alinear verticalmente los elementos */
}

.buttons-container {
  display: flex;
  justify-content: center; /* Ahora los botones estarán centrados horizontalmente */
  align-items: center; /* Alinear verticalmente los elementos */
  flex-grow: 1; /* Los botones ocuparán todo el espacio disponible */
}
/* Estilos para el contenedor del logo */
.logo-container {
  margin-left: auto; /* Empuja el logo hacia la izquierda */
}

/* Estilos para el logo */
.logo {
  width: 40px; /* Ajusta el tamaño según sea necesario */
  height: 40px;
  padding: 5px; /* Añade un poco de espacio alrededor */
}

/* Estilos para los botones */
.control-box {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: 5px; /* Añade espacio entre los botones */
  border: 2px solid #741ed7;
  border-radius: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #0056b3; /* Color base de fondo */
  transition: background-color 0.1s ease; /* Transición suave */
}

/* Estilos para el efecto de cambio de color al pasar el ratón */
.control-box:hover {
  background-color: #004080; /* Color de fondo al pasar el ratón */
}
